.box{
    margin-top:2%;
}
.logo{
    width: 1em;
}
.pdflogo{
  width: 1.5em;
}
#selfpict{
    width: 10em;
    border-radius: 70%;
}
.medium-title{
    margin: 0;
    font-weight: bold;
}
.copyonclick{
    color:#007BFF;
}

.copyonclick:hover {
    color:blue;
    cursor: pointer;
  }

  .copiedPopUp {
    color: #555;
  }
  
  .hiddenPop {
    display: none;
  }

  ul{
    list-style-type: none;
    padding: 0;
  }

  li{
    margin: 0.8em 0;

  }